body{
    margin: 0;
}
.font-lato{
    font-family: 'Lato', sans-serif;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.center{   
    margin: 0 auto;
    text-align: center;
}

    /*
    BARRA DE NAVEGACION
    */
    
.logotipo{
    display: inline-block;
    margin-left: 40px;
    margin-top: 3px;
    }


.menu{
    /* position: fixed;/ */
    font-size: 16px;
    display: inline-block;
    position: absolute;
    padding-top: 17px;    
    right: 20px;
    /* border: solid 1px; */
}

.menu li{
    display: inline-block;
    margin-left: 15px;
    
}
.menu p{

    font-size: 11px;
    padding-bottom: 10px;
}
.menu a{
    color:#808080;
    text-decoration: none;
    padding: 43px 5px 10px 5px;
}

.menu a:hover {
    color: white;
    background-color: #009999;
    
  }


.boton{
  background-color: #3fa8f5;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 40px;
  margin: 5px 0;
}




    /*
    FOOTER
    */


.footer{
    background-color: black;
    color: white; 
    font-size: 13px ;
       
}
.footer p{
    padding: 0;
    margin: 0;
}

.footer1{
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer2{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 100px repeat(3,1fr) 100px;
    justify-items: center;
    align-items: center;

}
.telefono{
    grid-column: 2;
    
}

.telefono div{
    display: inline-block;
}


.contacto img{
    vertical-align: middle;
}
.contacto p{
    display: inline;
}
.contacto div{
    display: inline-block;
    text-align: center;

}
.espacio-der{
    margin-right: 5px;
}
.direccion div{
    display: inline-block;
}
.footer3{
    display: grid;
    grid-template-columns: 480px repeat(5,1fr) 4800px;
    justify-items: center;
    align-items: center;
    grid-gap: 35px;
    margin-top: 50px;
    padding-bottom: 30px;
}
.icon-facebook{
    
    grid-column: 2;
}