body{
    margin: 0;
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.font-lato{
    font-family: 'Lato', sans-serif;
}


.center{
    
    margin: 0 auto;
    text-align: center;
}

.logotipo{
    display: inline-block;
    margin-left: 40px;
    margin-top: 3px;
    }

    /*
    BARRA DE NAVEGACION
    */

.menu{
    /* position: fixed;/ */
    font-size: 16px;
    display: inline-block;
    position: absolute;
    padding-top: 17px;    
    right: 20px;
    /* border: solid 1px; */
}

.menu li{
    display: inline-block;
    margin-left: 15px;
    
}
.menu p{

    font-size: 11px;
    padding-bottom: 10px;
}
.menu a,p{
    color:#808080;
    text-decoration: none;
    padding: 0 5px 0 5px;

}

.menu a:hover {
    color: white;
    background-color: #009999;
    padding: 43px 2px 10px 2px;
  }


.boton{
  background-color: #3fa8f5;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 40px;
}